@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lexend";
  font-style: normal;
}
